<div class="page-header">
  <h1>Welcome to Albums on the Web!</h1>
</div>
<dl class="'dl-horizontal">
<br/>
If you want to purchase albums, you should visit the <%= link_to('All Listings', '/album_listings') %> page to find what you want. <br/>
You will need to be logged in to purchase anything. <br/>

If you want to sell albums, get started at <%= link_to('My Listings', '/album_listings/my_inventory')%>
</dl>
