<div class="page-header">
  <%= link_to new_album_listing_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Album Listing
  <% end %>
  <h1>Your Inventory</h1>
</div>

<%= render 'list' %>
