<div class="page-header">
  <%= link_to album_listings_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New album_listing</h1>
</div>

<%= render 'form' %>
